body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

ol,
a,
ul,
li {
    list-style: none;
    text-decoration: none;
}

header.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__rigth {
    display: flex;
    align-items: center;
}

.input__header {
    border-radius: 50px;
    border: none;
    background-color: #F5F5F5;
    width: 393px;
    height: 40px;
}

.button__header {
    border: 1px solid #2A7AE4;
    background-color: #FFF;
    width: 182px;
    height: 51px;
    cursor: pointer;
}


section.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
}

.container__banner {
    position: absolute;
    padding: 0px 0px 0px 9%;
}

.paragrafo__banner {
    color: #FFF;
    font-size: 50px;
    margin: 0;
}

.text__banner {
    color: #FFF;
    font-size: 20px;
}

.button__banner {
    background-color: #2A7AE4;
    border: none;
    padding: 0 10px;
    color: #FFF;
}



.button__add {
    background-color: #2A7AE4;
    border: none;
    height: 40px;
    color: #FFF;
    cursor: pointer;
}


section.produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__produtos {
    display: flex;
    flex-direction: column;
}

.lista__produtos {
    display: flex;
    flex-flow: nowrap;
    height: 20%;
    padding-left: 4rem;
    padding-top: 1rem;
}

.produtos__li {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.img__produtos {
    width: 250px;
    height: 250px;
    z-index: 0;
}

i {
    width: 20px;
    height: 20px;
    color: #000;
}

.descricao__produtos {
    font-size: 15px;
    margin: 2px;
    padding: 0;
}

.produto__ver {
    color: #2A7AE4;
    border: none;
    width: 40%;
    height: 20%;
    background-color: #FFF;
    text-align: left;
    padding: 0;
    cursor: pointer;
}

.container__contato {
    display: flex;
    justify-content: space-around;
    background-color: #d3e1fc;
}

.contato__links {
    padding: 10px;
    cursor: pointer;
}

.mensagem__contato {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.inputs__contato {
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 1rem;
    border: none;
}

.button__contato {
    background-color: #2A7AE4;
    text-align: center;
    border: none;
    padding: 0 10px;
    width: 30%;
    margin-top: 10px;
    color: #FFF;
}

.footer {
    justify-content: center;
    text-align: center;
}

.lista__produtos-all {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    padding-left: 4rem;
    padding-top: 1rem;
}

.titulo__produtos {
    padding: 0;
    font-weight: bold;
    color: #4e4e4e;
    font-size: 30px;
    margin: 0;
    padding-left: 7.5rem;

}

.add_produtos {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    padding-right: 5rem;
    justify-content: space-between;
}

.text__add {
    text-decoration: none;
    color: #FFF;
}


.ver__produto {
    padding: 0;
    margin: 0;
    color: #2A7AE4;
    font-size: 15px;
}

i {
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: #808080;
    z-index: 100;
    text-align: center;
    margin-right: 10px;
}


.mensagem__contato {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.inputs__contato {
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 1rem;
    border: none;
}

.button__contato {
    background-color: #2A7AE4;
    text-align: center;
    border: none;
    padding: 0 10px;
    width: 30%;
    margin-top: 10px;
    color: #FFF;
}

.footer {
    justify-content: center;
    text-align: center;
}


.icons__produtos {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.button__produts {
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    header.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .paragrafo__banner {
        font-size: 30px;
    }

    .container__banner {
        margin-top: 0;
        padding: 0;
    }

    .banner__img {
        width: 100%;
    }

    .text__banner {
        padding: 0;
        font-size: 15px;
        margin: 0;
    }

    .img__coontato {
        display: none;
    }

    .button__contato {
        width: 100%;
    }

    .titulo__produtos {
        margin: 0;
        padding: 0;
    }

    .add_produtos {
        justify-content: center;
    }

    .titulo__produtos {
        margin: 0;
        padding: 0;
    }

    .container__produtos {
        align-items: center;
    }

    .lista__produtos-all {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: none;
    }
}